/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
  
  img {
    height: 100%;
  }

  /* Nav Bar*/
  .main-nav {
      display: flex;
      justify-content: space-between;
      height: 15vh;
  }
  
  .links {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      color: #fff;
      font-size: 1.1rem;
  }

  .links>li{
      margin-right: 30px;
      cursor: pointer;
  }

  .links > li:last-child{
      margin-right: 0;
  }

  /* Hero Container */

  .hero {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/headerbg.jpeg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      height: 100vh;
  }

  .hero-content{
      padding: 30vh;
  }

  .hero-content > h1 {
    color: #fff;
    text-align: center;
  }

  /* Second Container */

  .second {
      background-color: #F5F5F5;
  }

  .second > h1{
      text-align: center;
      margin-bottom: 2vh;
  }
  
  .features{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      text-align: center;
  }

  .col {
    flex: 1;
    padding: 1em;
    margin: 0 1.5vh;
    background-color: #fff;
  }

  .col > img {
      max-height: 20%;
      max-width: 100%;
  }

  .col > h3{
      padding: 2vh 0;
      font-weight: 900;
  }

  .col > p {
      font-size: 0.9rem;
  }

  /* Third Container */

  .third {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("images/container3.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.third > h1 {
    color: #fff;
    text-align: center;
    padding-bottom: 1vh;
}

.third > img {
    object-fit: contain;
}

  /* Utlities */

  h1{
    font-size: 2.3rem;
    font-family: 'PT Sans', sans-serif;
  }

  h3{
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
  }

  .container{
    padding: 6vh 6vh;
    padding-bottom: 10vh;
    width: 100%;
  }

  .btn{
      border:none;
      border-radius: 50px;
      padding: 10px 20px;
      background-color: #0078BE;
      color: #fff;
  }